.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.heading {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.spinners {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.spinners > img {
  flex: 1;
  object-fit: scale-down;
}

img.main { 
  height: 50%;
}

.spinning {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.8, 0.8);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(0.8, 0.8);
  }
}
